sentence-transformers==5.0.0
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
langchain_text_splitters
langchain_core
setuptools
langchain_google_genai
-e .
